
.cardRenderer {
    &__controls {
        // background: navajowhite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;

        &--common {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                margin-left: 1.5rem;
            }
        }

        &--favorites {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // background: rebeccapurple;

            h1 {
                margin: 0;
            }
        }        
    }
}

.selector {
    margin-left: 1.5rem;
    position: relative;
    
    &__header {
        cursor: pointer;
        span {
            text-transform: uppercase;
            margin-right: 10px;
        }
    }

    &__triangle {
        position: absolute;
        width: 0.8rem;
        height: 0.8rem;
        background: #dddddd;
        transform: rotate(45deg);
        right: -1.5px;
    }
    
    &__options {
        // box-sizing: border-box;
        z-index: 10;
        position: absolute;
        background: #dddddd;
        margin-top: 0.4rem;
        border-radius: 8px;
        padding: 0.5rem 0;
        
        
        div {
            padding: 0.5rem;
            padding-right: 2rem;
            cursor: pointer;
            text-transform: uppercase;

            &.active {
                font-weight: 700;
            }
            &:hover, &:focus {
                background: #cccccc;
            }
        }
            button {
                // margin-left: 1rem;
            }
    }
}

.cardListWrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1,1fr);
}
.loader {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
@media screen and (min-width:520px){
    .cardListWrapper{
        display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
        
    }
}
@media screen and (min-width:928px){
    .cardListWrapper{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (min-width:1186px) {
    .cardListWrapper{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4,1fr);
    }
}
// .cardItem{
//     margin:15px;
// }