.cardWrapper {
    display: flex;
    position: relative;
    flex-flow: column;
    background-color: #67686F;
    height: 265px;
    width: 100%;
    justify-content: space-between;
    border-radius: 3px;
    
}
.detailsWrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.title {
    font-weight: 600;
    line-height: 1.14;
    font-size: 12px;
    text-align: left;
    color: #fff;
    display: inline-block;
    max-height: 45px;
    overflow: hidden;
    padding: 15px 15px;
    }
.countWrapper {
    display: flex;
    justify-content: space-around;
}
.media {
    // display: block;
    // height: auto;
    // max-width: 100%;
    // overflow: hidden;
    height: 200px;
    width: 100%;
    object-fit: fill;

}
.StatContainer {
    display: flex;
    font-size: 10px;
    align-content: center;
    margin-bottom: 8px;
}
.IconContainer{
    // color: hsla(0,0%,100%,.6);
    height: 16px;
    width: 12px;
    fill: #2e3035;
    opacity: 0.5;
    font-size: 12px;
    letter-spacing: 0.3px;
    margin-right: 2px;
}
