@import '../../variables.scss';

a.cardLink {
  text-decoration: none;
  position: relative;
  color: #fff;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0;
    transition: opacity 0.25s;
  }

  &:hover::after {
    opacity: 0.1;
  }

  .cardWrapper {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    // height: 265px;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    border-bottom: solid #323232 0.3rem;

    &.voted {
        &--up {
            border-color:$green;
        }
        &--down {
            border-color:$red;
        }
    }

    .mediaWrapper {
      background: #282828;
      flex: 1;
      position: relative;
      overflow: hidden;

      .media {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }

    .detailsWrapper {
      padding: 0.5rem;
      padding-bottom: 0.2rem;

      .title {
        font-weight: 600;
        font-size: 0.8rem;
        color: #fff;
        padding-bottom: 0.5rem;
      }

      .countWrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .statContainer {
          display: flex;
          align-items: center;
          font-size: 0.7rem;
          align-content: center;
          margin-bottom: 8px;
          color: rgba(255,255,255,0.6);
          z-index: 1;
          padding: 0.2rem;
          
          &:hover {
            color: rgba(255,255,255,1);
          }

          &.green {
            &:hover {
                color: $green;
            }
            &.active {
              color: $green;
            }
          }
          
          &.red {
            &:hover {
                color: $red;
            }
            &.active {
              color: $red;
            }
          }

          span {
              margin-left: 0.3rem;
          }

        }
      }
    }
  }
//   .IconContainer {
//     height: 20px;
//     width: 12px;
//     fill: #eff0f5;
//     opacity: 0.8;
//     font-size: 12px;
//     letter-spacing: 0.3px;
//     margin-right: 5px;
//   }
}
