.footer {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition:  transform .5s ease-in-out;
    &__text {
    color:#2E3035;
    padding: 0.5rem;
    }
    &__show {
        transform: translateY(0%);
    }
    &__hide {
        transform: translateY(100%);
    }
}