.indentCommentBox{
    position: relative;
    margin-left: 40px;
}
.replyIcon{
    display: none;
}
.VoteIconWrapper {
    position: absolute;
    display: none;
    right: calc(100%);
    color: white;
}
.voteIcon{
    background-color: #2c2f34;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;
    .iconVote {
        margin-bottom: 5px;
    }
}
.activeDown{
    color: red;
}
.activeUp {
    color: #00d9bc;
}
.commentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px 6px 6px 6px;
  background-color: #2c2f34;
  color:white;
  margin-top: 10px;
  padding: 20px;
  position: relative;
  &:hover{
      .replyIconActive {
          display: block;
      }
      .VoteIconWrapper {
          display: block;
      }
  }
}

// .displayUpVoteIcon{
//     display: none;
// }
.detailsCommentWrapper {
    display: flex;
    flex-direction: row;
}
.commentHeaderItem {
    font-size: 10px;
    font-weight: 700;
    margin-right: 20px;
    color: white;
}
.commentText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.commentImage {
    max-width: 10%;
}
.expandReply{
    font-size: 10px;
    cursor: pointer;
}
.expandReplyIcon{
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.ellipsisIcon{
    position: relative;
}
.floatingOption {
    position: absolute;
    display: none;
}
.activeOption{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    color: black;
    justify-content: space-around;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 100;
}
.optionItem {
    margin: 0.5rem 0;
    cursor: pointer;
}